

PORT=3000
NODE_ENV=development




DATABASE_URL=

JWT_SECRET=troque_por_um_valor_aleatorio_e_secreto


DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=


DISCORD_REDIRECT_URI=

CORS_ORIGIN=*







MEDIA_SERVER_ENABLED=false
MEDIA_RTMP_PORT=1935
MEDIA_HTTP_PORT=8000


MEDIA_PUBLIC_RTMP_HOST=


MEDIA_PUBLIC_HTTP_BASE=